/* @import "./base.css"; */
/* "largely inspired" by Chris Smith:  https://codepen.io/chris22smith/pen/YZPrjr */

:root {
  --main-color: #0c0;
  --background-color: #000;
}

body {
  background-color: var(--background-color);
  font-family:'Fira Mono', monospace;
  animation:colorPulse 5s infinite ease-in-out;
  margin: 0;
  padding: 0;
  background-image: radial-gradient(#444, #111);
  box-shadow: 0 0 2vmin 2vmin var(--background-color) inset;
  box-sizing: border-box;
  height: 100vh;
}

body:after {
	background-image:linear-gradient(transparent, transparent 3px, #222);
	background-size:4px 4px;
  
	content:"";
	pointer-events:none;

	position:absolute;
	left:0;
	right:0;
	bottom:0;
	top:0;
	z-index:2;
}

a { 
  color: var(--main-color);
}

a:hover {
  background-color: var(--main-color);
  color: var(--background-color);
}

@keyframes colorPulse {
	0%, 100% {
	  color: var(--main-color);
	}
	48%, 52% {
	  color:#090;
	}
	50% {
	  color:#060;
	}
}
