@import "@/assets/theme.css";/* "largely inspired" by Chris Smith:  https://codepen.io/chris22smith/pen/YZPrjr */
@import "@/assets/imagesSVG.css";
/* color for background */
:root {
	--grey_color-dark:#111;
	--grey-color: #222;
	--grey-color-light: #333;
	--grey-color-lighter: #444;
	--background-color: #000;
}


/* mouse selector text */
::selection {
	color: var(--background-color);
	background: var(--main-color-dark);
}

body {
  background-color: var(--background-color);
  font-family:'Fira Mono', monospace;
  animation:colorPulse 6s infinite ease-in-out;

  margin: 0;
  padding: 0;
  height: 100vh;
  overflow:hidden;

  background-image: radial-gradient(var(--grey-color-lighter), var(--grey_color-dark));
  box-shadow: 0 0 10vmin 2vmin var(--background-color) inset;
  box-sizing: border-box;
}

body:after {
	background-image:linear-gradient(transparent, transparent 5px, var(--background-line-color));
	background-size:6px 6px;
  
	content:"";
	pointer-events:none;

	position:absolute;
	left:0;
	right:0;
	bottom:0;
	top:0;
	z-index:2;
}

/* color links invert the main color when hover */

a:hover, a:visited:hover {
  background-color: var(--main-color);
  color: var(--background-color);
}

a:visited {
	color: var(--main-color);
}


/* pulse color on font: old screen effect */
@keyframes colorPulse {
	0%, 100% {
	  color: var(--main-color);
	}
	48%, 52% {
	  color:var(--main-color-dark);
	}
	50% {
	  color:var(--main-color-darker);
	}
}

/* wave for effects */
/* body:before {
	animation:wave 20s ease-in-out infinite;
	content:"";
	height:100vh;
	left:0;
	opacity:.3;
	position:absolute;
	right:0;
	z-index:1;
  }

@keyframes wave {
	0% {
		box-shadow:0 -10vh 200vh var(--main-color-darker);
		top:-10vh;
	}

	100% {
	  box-shadow:0 -10vh 200vh var(--main-color-darker);
	  top:200vh;
	}
  } */
