
/* color Theme */
:root, 
	:root.green {
		--main-color: #0c0;
		--main-color-dark: #090;
		--main-color-darker: #060;
		--background-line-color:  rgba(34, 34, 34, 0.6)
		/* for image: 0c0 */
	}

	:root.blue {
		--main-color: #00b7ff;
		--main-color-dark: #0292b9;
		--main-color-darker: #036b88c4;
		--background-line-color: #01546b8f;
		/*for image: 00c1ff */
	}

	:root.yellow {
		--main-color: #f0f000;
		--main-color-dark: #cfcf03;
		--main-color-darker: #8f8f00;
		--background-line-color: #b3b30027;
		/* for image: f0f000 */
	}


/* svg {
	fill: currentColor;
} */

svg {
	color: var(--main-color);
	height: 100px;
	width: 100px;
}
/* 
div #svg {
	height: 100px;
	width: 100px;
	background-color: blue;
}

div.svgReverse {
	display: none;
}

div:hover .svgNormal {
	display: none;
}


div:hover div.svgReverse {
	display: block;
} 
 */

/*  */

a svg {
	height: 200px;
	width: 200px;
}

a svg.svgReverse {
	display: none;
}
 
a:hover svg.svgNormal {
	display: none;
}

a:hover svg.svgReverse {
	background-color: var(	);
	display: inline;
} 
/*  */


/* 

svg {
	color: var(--main-color);
	height: 100px;
	width: 100px;
}

svg#svgLink {
	height: 100px;
	width: 100px;
}

a svg.svgReverse {
	display: none;
}

a svg.svgNormal {
	display: block;
}

a svg.svgNormal:hover ~a svg.svgReverse {
	display: block;
}

a svg.svgReverse:hover ~a svg.svgNormal {
	display: none;
}

div#svgLink {
	height: 100px;
	width: 100px;
	background-color: blue;
}

div#svgLink.svgReverse {
	display: none;
}

div #svgLink:hover div #svgLink.svgNormal {
	display: none;
}


div#svgLink:hover ~div#svgLink.svgReverse {
	display: block;
} 

div#svgLink.svgReverse {
	display: none;
}

div #svgLink:hover div #svgLink.svgNormal {
	display: none;
}


div#svgLink:hover ~div#svgLink.svgReverse {
	display: block;
} 
 */


/* 
#svgReverse {
	display: none;
}

#svgNormal:hover {
	display: none;
}


#svgNormal:hover ~#svgReverse {
	color: var(--main-color);
	display: block;
} */


/* 
#svgNormal:hover~#svgReverse{
	color: var(--main-color);
	display: block;
} */

/* 
#svgReverse {
	display: none;
}

#svgNormal:hover {
	display: none;
}


#svgNormal:hover ~#svgReverse {
	color: var(--main-color);
	display: block;
} */


/* 
#svgNormal:hover~#svgReverse{
	color: var(--main-color);
	display: block;
} */

/* 
.yellow {
	authentication_logo: url(@/components/icons/WhiskeyRose_yellow.xcf);
}

.blue {
	authentication_logo: url(@/components/icons/WhiskeyRose_blue.xcf);
}

.green {
	authentication_logo: url(@/components/icons/WhiskeyRose_green.xcf);
} */