/* images SVG format */
svg {
	color: var(--main-color);
	height: 100px;
	width: 100px;
}

/* for images link : get reverse color when mouse on */

a svg {
	position: absolute;
	background-color: transparent;
	height: 200px;
	width: 200px;
}

a svg.svgInsider {
	display: none;
}
 
a:hover svg.svgEdge {
	display: none;
}

a:hover svg.svgInsider {
	display:inline;
}
