
  .switch {
	position: relative;
	display: inline-block;
	width: 52px;
	height: 20px;
  }
  
  .switch input { 
	opacity: 0;
	width: 0;
	height: 0;
  }
  
  .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: var(--main-color-op-10);
	-webkit-transition: .3s;
	transition: .3s;
  }
  
  .slider:before {
	position: absolute;
	content: "";
	height: 18px;
	width: 18px;
	left: 4px;
	bottom: 1px;
	border: solid;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  input:checked + .slider {
	background-color: var(--main-color);
	color: var(--grey-color-light);
  }
  
  input:focus + .slider {
	box-shadow: 0 0 1px (var(--background-color));
  }
  
  input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
	border-radius: 10%;
  }
  
  /* inside round */
  .slider.round:before {
	border-radius: 10%;
  }