/* images SVG format */
/* for images link : get reverse color when mouse on */

/* inversion edge when hover */
.img-svg {
	width: inherit;
}

div.img-svg svg {
	color: var(--main-color);
	background-color: transparent;
	position: absolute;
	width: inherit;
} 

div.img-svg svg.svgEdge {
	display: none;
}

div.img-svg:hover svg.svgInsider {
	display: none;
}

div.img-svg:hover svg.svgEdge {
	display: inline;
}

/* Inversion Insider when hover 

/* div.img-svg svg {
	color: var(--main-color);
	background-color: transparent;
	height: 100px;
	width: 100px;
	position: absolute;
} 

div.img-svg svg.svgInsider {
	display: none;
}

div.img-svg:hover svg.svgEdge {
	display: none;
}

div.img-svg:hover svg.svgInsider {
	display: inline;
} */
