
	.all {
		width: 100%;
	}
	 
	 .Profile {
		font-size: 14px;
		display: flex;
		align-content: center;
		justify-content: space-between;
		border: solid;
		border-width: 1px;
		border-color: var(--main-color-op-30);
		width: 100%;
	 }
	
	 .Profile:hover {
		 border: solid;
		 border-color: currentColor;
		border-width: 1px;
	
		   background-color: var(--main-color-op-30);
	  color: var(--main-color-light);
	 }
	
	.userName {
		font-size: 18px;
	}
	.userImage{
		display: flex;
		margin: 5%;
		border: solid;
		border-radius: 5%;
		height: 100px;
		width: 100px;
	}
	
	.userDatas {
		display: flex;
		justify-content: center;
	}
	
	.OptionProfile {
		width: 30%;
		display: flex;
		flex-direction: column;
		align-self: right;
	}

	.OptionProfile_sub {
		display: flex;
		align-self: right;
	}